// Color Variables

$primary-color: #007bff;
$primary-hover-color: darken($primary-color,20%);
$success-color: #28a745;
$success-hover-color: darken($success-color,20%);
$title-color: #ffffff;
$bg-color: #022400;


body{
    background-color: $bg-color;
    h2{
    font-family: "Dancing Script", cursive;
    margin: 0;
    padding: 0;
    }

    h1{
        color: white;
        display: inline-block;
        background-color: $bg-color;
        border-radius: 20px;
        padding: 8px 116px;
        margin: 5px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,sans-serif;
    }
    h2{
        color: gold;
    }
}

.content{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    h4, td, th, p{
        color: $title-color;
    }
    table{
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;

        th, td{
            padding: 10px;
            border: 1px solid #ddd;
        }

        th{
            background-color: darken($bg-color,10%);
        }

        tr:hover{
            background-color: lighten(#000000, 10%);
        }
    }
    form{
        
        padding: 20px 0;

        input[type="text"]{
            width: 70%;
            padding: 10px;
            margin-right: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        #btn_add, #btn_edit{
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
        }

        #btn_add{
            background-color: $success-color;

            &:hover{
                background-color: $success-hover-color;
            }
        }

        #btn_edit{
            background-color: $primary-color;

            &:hover{
                background-color: $primary-hover-color;
            }
        }
    }
    a{
        display: inline-block;
        background-color: $primary-color;
        border-radius: 20px;
        color: #ffffff;
        text-decoration: none;
        padding: 8px 16px;
        margin: 5px;
        &:hover{
        text-decoration: underline;
        background-color: darken($primary-color, 10%);
        }
        &#delete {
            background-color: #ff0000;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                background-color: darken(#ff0000, 10%);
            }
        }
    }
}