body {
  background-color: #e1ae84;
}

body h2 {
  font-family: "Dancing Script", cursive;
  margin: 0;
  padding: 0;
}

body h1 {
  color: #FDF8F4;
  display: inline-block;
  background-color: #D9A474;
  border-radius: 20px;
  padding: 8px 116px;
  margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,sans-serif;
}

body h2 {
  color: gold;
}

.dashboard-container {
  display: flex;
  gap: 20px;
}

.dashboard-container .toggle-btn {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #C89163;
  border: none;
  padding: 10px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  z-index: 1100;
  font-size: 20px;
  transition: left 0.3s ease, transform 0.3s ease;
}

.dashboard-container .left-panel {
  position: fixed;
  top: 0;
  left: -500px;
  width: 350px;
  height: 100vh;
  background-color: #ffffff;
  border-right: 10px solid #ffffff;
  border-radius: 0 10px 10px 0;
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 1000;
}

.dashboard-container .left-panel.open {
  left: 0px;
}

.dashboard-container .left-panel h1 {
  color: #000000;
}

.dashboard-container .left-panel h4, .dashboard-container .left-panel td, .dashboard-container .left-panel th, .dashboard-container .left-panel p, .dashboard-container .left-panel li {
  color: #000000;
}

.dashboard-container .left-panel table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
}

.dashboard-container .left-panel table th, .dashboard-container .left-panel table td {
  padding: 10px;
}

.dashboard-container .left-panel table td {
  background-color: #ffc99d;
}

.dashboard-container .left-panel table th {
  background-color: #C89163;
  color: #000000;
  border: 0.5px solid #000000;
}

.dashboard-container .left-panel table tr {
  border: 1px solid #e80000;
  border-radius: 10px;
  overflow: hidden;
}

.dashboard-container .left-panel table tr:hover td {
  background-color: #e6e6e6;
}

.dashboard-container .left-panel table tr.table-title th {
  border-collapse: collapse;
}

.dashboard-container .right-panel {
  top: 0;
  z-index: 500;
  flex: 1;
  background: #000000;
  margin: 50px 0;
  padding: 35px;
  border-radius: 10px;
  border: 10px solid #000000;
  transition: margin 1s ease;
}

.dashboard-container .right-panel h4, .dashboard-container .right-panel td, .dashboard-container .right-panel th, .dashboard-container .right-panel p, .dashboard-container .right-panel li {
  color: #ffffff;
}

.dashboard-container.left-open .toggle-btn {
  transform: translateY(500%) rotate(180deg);
  left: 360px;
  transition: left 0.3s ease, transform 0.3s ease;
}

.dashboard-container.left-open .right-panel {
  width: calc(100vw - 500px);
  margin-left: 400px;
  transition: margin-left 1s ease;
}

.dashboard-container form {
  padding: 20px 0;
}

.dashboard-container form input[type="text"] {
  background-color: #FFFFFF;
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #C89163;
  border-radius: 5px;
  color: #2A2A2A;
}

.dashboard-container form #btn_add, .dashboard-container form #btn_edit {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.dashboard-container form #btn_add {
  background-color: #3F8F55;
}

.dashboard-container form #btn_add:hover {
  background-color: #4fb26a;
}

.dashboard-container form #btn_edit {
  background-color: #007bff;
}

.dashboard-container form #btn_edit:hover {
  background-color: #004a99;
}

.dashboard-container a {
  display: inline-block;
  background-color: #007bff;
  border-radius: 20px;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 16px;
  margin: 5px;
}

.dashboard-container a:hover {
  text-decoration: underline;
  background-color: #0062cc;
}

.dashboard-container a#delete {
  background-color: #C0392B;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 5px;
}

.dashboard-container a#delete:hover {
  background-color: #A83225;
}

.dashboard-container a#edit {
  background-color: #2E8B8B;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 5px;
}

.dashboard-container a#edit:hover {
  background-color: #257575;
}
