// Color Variables

$primary-color: #007bff;
$primary-hover-color: darken($primary-color,20%);
$success-color: #28a745;
$success-hover-color: darken($success-color,20%);
$title-color: #ffffff;
$title-color-left: #000000;
$bg-color: #e1ae84;


body{
    background-color: $bg-color;
    h2{
    font-family: "Dancing Script", cursive;
    margin: 0;
    padding: 0;
    }

    h1{
        color: #FDF8F4;
        display: inline-block;
        background-color: #D9A474;
        border-radius: 20px;
        padding: 8px 116px;
        margin: 5px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,sans-serif;
    }
    h2{
        color: gold;
    }
}

.dashboard-container{
    display: flex;
    gap: 20px;
    // align-items: flex-start;
    // max-width: 4000px;
    // margin: 50px auto;
    // padding: 20px;
    // background-color: #1E1E1E;
    // border-radius: 10px;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    // text-align: center;
    .toggle-btn {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #C89163;
    border: none;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    z-index: 1100;
    font-size: 20px;
    transition: left 0.3s ease, transform 0.3s ease;
    }
    .left-panel{
        position: fixed;
        top: 0;
        left: -500px; // hidden off-screen to the LEFT
        width: 350px;
        height: 100vh;
        background-color: #ffffff;
        border-right: 10px solid #ffffff;
        border-radius: 0 10px 10px 0;
        padding: 20px;
        transition: left 0.3s ease;
        z-index: 1000;

        &.open {
            left: 0px; // slide in
        }


        h1{
            color: $title-color-left;
        }
        h4, td, th, p, li{
        color: $title-color-left;
        }

        table{
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        margin-top: 20px;
        // border-radius: 10px;
        // overflow: hidden;
        th, td{
            padding: 10px;
        }

        td{
            background-color: #ffc99d;
        }
        th{
            // border-radius: 1px !important;
            background-color: #C89163;
            color: #000000;
            border: 0.5px solid #000000;
            // margin: 5px;
        }
        
        tr{
            border: 1px solid #e80000;
            border-radius: 10px;
            overflow: hidden;
        }
        
        tr:hover td{
            background-color: darken(#ffffff, 10%);
        }
        
        tr.table-title th{
            border-collapse: collapse
        }
        }
    }
    .right-panel{
        top: 0;
        // height: 100vh;
        z-index: 500;
        flex: 1;
        background: #000000;
        margin: 50px 0;
        padding: 35px;
        border-radius: 10px;
        border: 10px solid #000000;
        transition: margin 1s ease;

        h4, td, th, p, li{
        color: $title-color;
        }
    } 
    
    &.left-open {
        .toggle-btn {
            transform: translateY(500%) rotate(180deg);
            left: 360px; // move button right when panel is open
            transition: left 0.3s ease, transform 0.3s ease;
        }
        .right-panel {
            width: calc(100vw - 500px); // shrink to fit remaining space
            margin-left: 400px;         // align next to left panel
            transition: margin-left 1s ease;
        }
    }   


    // table{
    //     width: 100%;
    //     border-collapse: collapse;
    //     margin-top: 20px;

    //     th, td{
    //         padding: 10px;
    //         border: 1px solid #3A3A3A;
    //     }

    //     th{
    //         background-color: #C89163;
    //         color: #F5F5F5
    //     }

    //     tr{
    //         background-color: #121212;
    //         &:hover{
    //             background-color: lighten(#121212, 10%);
    //         }
    //     }
    // }
    form{
        
        padding: 20px 0;

        input[type="text"]{
            background-color: #FFFFFF;
            width: 70%;
            padding: 10px;
            margin-right: 10px;
            border: 1px solid #C89163;
            border-radius: 5px;
            color: #2A2A2A;
        }

        #btn_add, #btn_edit{
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
        }

        #btn_add{
            background-color: #3F8F55;

            &:hover{
                background-color: lighten(#3F8F55, 10%);
            }
        }

        #btn_edit{
            background-color: $primary-color;

            &:hover{
                background-color: $primary-hover-color;
            }
        }
    }
    a{
        display: inline-block;
        background-color: $primary-color;
        border-radius: 20px;
        color: #ffffff;
        text-decoration: none;
        padding: 8px 16px;
        margin: 5px;
        &:hover{
        text-decoration: underline;
        background-color: darken($primary-color, 10%);
        }
        &#delete {
            background-color: #C0392B;
            color: #FFFFFF;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                background-color: #A83225;
            }
        }
        &#edit {
            background-color: #2E8B8B;
            color: #FFFFFF;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
                background-color: #257575;
            }
        }
    }
}