body {
  background-color: #e1ae84;
}

body h2 {
  font-family: "Dancing Script", cursive;
  margin: 0;
  padding: 0;
}

body h1 {
  color: #FDF8F4;
  display: inline-block;
  background-color: #D9A474;
  border-radius: 20px;
  padding: 8px 116px;
  margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,sans-serif;
}

body h2 {
  color: gold;
}

.content {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #1E1E1E;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.content h4, .content td, .content th, .content p {
  color: #ffffff;
}

.content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.content table th, .content table td {
  padding: 10px;
  border: 1px solid #3A3A3A;
}

.content table th {
  background-color: #C89163;
  color: #F5F5F5;
}

.content table tr {
  background-color: #121212;
}

.content table tr:hover {
  background-color: #2c2c2c;
}

.content form {
  padding: 20px 0;
}

.content form input[type="text"] {
  background-color: #FFFFFF;
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #C89163;
  border-radius: 5px;
  color: #2A2A2A;
}

.content form #btn_add, .content form #btn_edit {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.content form #btn_add {
  background-color: #3F8F55;
}

.content form #btn_add:hover {
  background-color: #4fb26a;
}

.content form #btn_edit {
  background-color: #007bff;
}

.content form #btn_edit:hover {
  background-color: #004a99;
}

.content a {
  display: inline-block;
  background-color: #007bff;
  border-radius: 20px;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 16px;
  margin: 5px;
}

.content a:hover {
  text-decoration: underline;
  background-color: #0062cc;
}

.content a#delete {
  background-color: #C0392B;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 5px;
}

.content a#delete:hover {
  background-color: #A83225;
}

.content a#edit {
  background-color: #2E8B8B;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 5px;
}

.content a#edit:hover {
  background-color: #257575;
}
