{% extends 'base.html' %}

{% block head %}
<title>Task Smash</title>
{% endblock %}

{% block content %}
<div class="edit-container">
    <h1>Edit your task</h1>
    <div class="input-fields">
        <input form="edit-task" type="text" name="content" value="{{ task.content }}" required/>
    </div>
    <div class="button-container">
        <form id="edit-task" action="/edit/{{task.id}}" method="POST">
            <input type="submit" value ="Edit" id ="btn_edit"/>
        </form>
    </div>
</div>
{% endblock %}
